.dialog.login ul {
    padding-left: 2.5rem;
    margin-top: 0;
}

.dialog.login ul li {
    list-style-type: disc;
}

.dialog.login p {
    font-size: .9rem;
}

.loginFormRow {
    display: flex;
    margin-bottom: 1rem;
}

.loginFormRow label {
    width: 6rem;
    padding: .3rem;
    font-size: .875rem;
}

.loginFormRow input {
    width: 15rem;
}

.loginError {
    color: red;
}