.toolbar-button {

}

.toolbar-button button {
    background: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    padding: 3px 2px;
}

.toolbar-button button:hover {
    background: #dde0e2;
}

.toolbar-button .icon {
    padding: 0 0 0 4px;
}

.toolbar-button .icon img {
    width: 23px;
    display: block;
}

.toolbar-button .label {
    padding: 0 4px 0 4px;
    font-size: 0.875rem;
    color: rgb(34, 47, 42);
}

.toolbar-button.export button span img {
    width: 21px;
}
.toolbar-button.comments button span img {
    width: 23px;
}