.header {
    display: flex;
    height: 3.5rem;
    align-items: center;
}


.logo {
    background: url(logo.png) no-repeat center;
    background-size: contain;
    width: 4rem;
    height: 2.5rem;
}

.document-name input {
    font-size: 1.2rem;
    border: 1px solid #ccc;
    padding-left: 4px;
}