.dialog-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.75);
    z-index: 10000;
}

.dialog-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.dialog {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 16px 16px -10px rgba(34, 47, 62, 0.15), 0 0 40px 1px rgba(34, 47, 62, 0.15);
    display: flex;
    flex-direction: column;
    width: 30rem;
    background: #fff;
}

.dialog-contents {
    padding: 0 1rem;
}

.dialog ul {
    padding: 0;
}

.dialog p {
    margin-top: 0;
}

.dialog h1 {
    font-size: 1.25rem;
    font-weight: normal;
    padding: 0.5rem 1rem;
}

.dialog li {
    list-style-type: none;
}

.dialog-footer {
    border-top: 1px solid #ccc;
    display: flex;
    padding: 8px 8px;
    justify-content: space-between;
}

.dialog-footer button,
.dialog-footer input[type="submit"] {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #707070;
    font-weight: bold;
    padding: 4px 16px;
    line-height: 1.5rem;
    margin-left: 5px;
}

.dialog-footer button.submit,
.dialog-footer input[type="submit"].submit {
    background: #207ab7;
    border: 1px solid #207ab7;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    padding: 4px 16px;
    line-height: 1.5rem;
}

.userMessage {
    color: red;
}